In [124]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [125]:
#Total Number of Players
total_players= len(purchase_data_df["SN"].unique())
total_players

total_players_df=pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [126]:
#Number of items
Unique_items= len(purchase_data_df["Item Name"].unique())
Unique_items
#Average price 
Average_price= purchase_data_df["Price"].mean()
Average_price
#total 
Total_number= len(purchase_data_df["Purchase ID"])
Total_number
#total revenue
Total_Revenue = purchase_data_df["Price"].sum()
Total_Revenue

#Summary DF
Purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":         [Unique_items], "Average Price": [Average_price],       "Number of Purchases": [Total_number], "Total Revenue": [Total_Revenue]})

Purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

In [127]:
#Percentage and Count of Male Players
male_player_count = purchase_data_df.loc[purchase_data_df["Gender"]=="Male","SN"]
total_male= len(male_player_count.unique())
percent_male = round((total_male/total_players)*100)

In [128]:
#Percentage and Count of Female Players
female_player_count = purchase_data_df.loc[purchase_data_df["Gender"]=="Female","SN"]
total_female= len(female_player_count.unique())
percent_female = round((total_female/total_players)*100)

In [129]:
#Percentage and Count of Other / Non-Disclosed
other_player_count = purchase_data_df.loc[purchase_data_df["Gender"]=="Other / Non-Disclosed","SN"]
total_other= len(other_player_count.unique())
percent_other = round((total_other/total_players)*100,2)

In [130]:
#Gender Demographics dataframe
gender_demo_df= pd.DataFrame({"Gender":["Male", "Female", "Other/Non-Disclosed"], "Total Count":[total_male, total_female, total_other], "Percentage of Players":[percent_male,percent_female,percent_other]})

gender_demo_df.set_index("Gender")

                     Total Count  Percentage of Players
Gender
Male                         484                  84.00
Female                        81                  14.00
Other/Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

In [131]:
#find gender using loc function
female_purchasing_analysis= purchase_data_df.loc[purchase_data_df["Gender"]== "Female", "Price"]
#total number of females
female_purchasing_count= female_purchasing_analysis.count()
#purchasing averages of females
female_purchasing_average= female_purchasing_analysis.mean()
#total purchase value for females
female_purchasing_total= female_purchasing_analysis.sum()
#average per female 
female_purchasing_average_per= (female_purchasing_total/total_female)

In [132]:
male_purchasing_analysis= purchase_data_df.loc[purchase_data_df["Gender"]== "Male", "Price"]
male_purchasing_count= male_purchasing_analysis.count()
male_purchasing_average= male_purchasing_analysis.mean()
male_purchasing_total= male_purchasing_analysis.sum()
male_purchasing_average_per= (male_purchasing_total/total_male)

In [133]:
other_purchasing_analysis= purchase_data_df.loc[purchase_data_df["Gender"]== "Other / Non-Disclosed", "Price"]
other_purchasing_count= other_purchasing_analysis.count()
other_purchasing_average= other_purchasing_analysis.mean()
other_purchasing_total= other_purchasing_analysis.sum()
other_purchasing_average_per= (other_purchasing_total/total_other)

In [134]:
#total gender purchasing analysis dataframe
gender_purchasing_df= pd.DataFrame({"Gender":["Female", "Male", "Other/Non-Disclosed"], "Purchase Count": [female_purchasing_count, male_purchasing_count, other_purchasing_count], "Average Purchase Price": [female_purchasing_average,male_purchasing_average,other_purchasing_average], " Total Purchase Value": [female_purchasing_total,male_purchasing_total, other_purchasing_total], "Average Total Purchase Per Person": [female_purchasing_average_per,male_purchasing_average_per,other_purchasing_average_per]})

gender_purchasing_df.set_index("Gender")

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other/Non-Disclosed,15,3.346000,50.19,4.562727

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [135]:
#groupby to find uses by Age
unique_users = purchase_data_df.groupby("SN")

unique_users_df = pd.DataFrame(unique_users["Age"].unique())

In [136]:
 #Establish bins for ages
 
 bins = [0,9,14,19,24,29,34,39,90]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#create df to include bins and labels 
unique_users_df["Age Demographics"]=pd.cut(unique_users_df["Age"], bins, labels= group_names)

In [137]:
#age count
age_purchase_count= unique_users_df.groupby("Age Demographics")
age_count= age_purchase_count["Age"].count()
#age percentage 
age_percentage= (age_count/total_players)*100

age_demo_df= pd.DataFrame({"Total Count": age_count, "Percentage of Players": age_percentage})
age_demo_df

                  Total Count  Percentage of Players
Age Demographics
<10                        17               2.951389
10-14                      22               3.819444
15-19                     107              18.576389
20-24                     258              44.791667
25-29                      77              13.368056
30-34                      52               9.027778
35-39                      31               5.381944
40+                        12               2.083333

## Purchasing Analysis (Age)

In [138]:
#Establish bins for ages
 
bins = [0,9,14,19,24,29,34,39,90]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df["Age Demographics"]=pd.cut(purchase_data_df["Age"], bins, labels= group_names)

In [139]:
#age data of count, price, average total and average per peson
age_price= purchase_data_df.groupby("Age Demographics")
age_price_count = age_price["Price"].count()
average_age_price = age_price["Price"].mean()
age_price_total_count = age_price["Price"].sum()
age_average_per_person = age_price_total_count/age_count

In [140]:
#age analysis dataframe 
age_purchase_analysis_df = pd.DataFrame({"Purchase Count": age_price_count, "Average Purchase Price":average_age_price, "Total Purchase Value":age_price_total_count, "Average Total Purchase per Person": age_average_per_person}) 

age_purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Demographics,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

In [141]:
#group by the SN
top_spenders_df = purchase_data_df.groupby("SN")
top_spenders_count = top_spenders_df.count()
#find IDs of top spenders
ascending_top_spenders = top_spenders_count.sort_values("Item ID", ascending= False)
ascending_top_spenders_df = ascending_top_spenders[["Item ID"]]
#find prices associated with IDs
SN_average_purchase=top_spenders_df.mean()
top_average_purchase= SN_average_purchase.sort_values("Price", ascending = False)
top_average_purchase_df= top_average_purchase[["Price"]]

#find total purchases and set to descending
sn_total_purchases = top_spenders_df.sum()
top_total_purchase = sn_total_purchases.sort_values("Price", ascending = False)
top_total_purchase_df = top_total_purchase[["Price"]]
#merge IDs and average purchases per ID
top_merged = pd.merge(ascending_top_spenders, top_average_purchase_df, on="SN", how="outer")
top_merged_renamed = top_merged.rename(columns={"Item ID":"Purchase Count","Price":"Average Purchase Price"})

In [142]:
#merge again all with total purchases
top_total_merged= pd.merge(top_merged_renamed, top_total_purchase_df, on="SN", how= "outer")
top_total_merged_renamed= top_total_merged.rename(columns={"Price": "Total Purchase value", "Price_y": "Average Purchase Price"})

top_total_merged_renamed.head()

,Purchase ID,Age,Gender,Purchase Count,Item Name,Price_x,Age Demographics,Average Purchase Price,Total Purchase value
SN,,,,,,,,,
Lisosia93,5,5,5,5,5,5,5,3.792000,18.96
Iral74,4,4,4,4,4,4,4,3.405000,13.62
Idastidru52,4,4,4,4,4,4,4,3.862500,15.45
Asur53,3,3,3,3,3,3,3,2.480000,7.44
Inguron55,3,3,3,3,3,3,3,3.703333,11.11

## Most Popular Items

In [143]:
#group by item and item name 
most_popular_df= purchase_data_df.groupby(["Item ID","Item Name"])
#count and sort by purchase ID 
most_popular_purchase_count = most_popular_df.count()
most_popular_purchase_count_sorted = most_popular_purchase_count.sort_values("Purchase ID", ascending = False)
most_popular_purchase_count_df =most_popular_purchase_count_sorted[["Purchase ID"]]

In [144]:
#find average price of most popular items
most_popular_items = round(most_popular_df.mean())
most_popular_items_sort = most_popular_items.sort_values("Price", ascending = False)

most_popular_items_df=most_popular_items_sort [["Price"]]

In [145]:
#find total of most popular 
total_most_popular= most_popular_df.sum()
total_most_popular_sorted = total_most_popular.sort_values("Price", ascending= False)

total_most_popular_df = total_most_popular_sorted[["Price"]]

In [146]:
#merge most popular
popular_merged_initial = pd.merge(most_popular_purchase_count_df, most_popular_items_df, on=["Item ID","Item Name"], how="outer")

In [147]:
#merge again 
popular_merged_final = pd.merge(popular_merged_initial, total_most_popular_df, on=["Item ID","Item Name"], how="outer")
#rename columes 
popular_merged_final_renamed = popular_merged_final.rename(columns={"Purchase ID":"Purchase Count","Price_x":"Item Price","Price_y":"Total Purchase Value"})
popular_merged_final_renamed["Item Price"] = popular_merged_final_renamed["Item Price"]
popular_merged_final_renamed["Total Purchase Value"] = popular_merged_final_renamed["Total Purchase Value"]
popular_merged_final_renamed.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,5.0,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.0,50.76
145,Fiery Glass Crusader,9,5.0,41.22
132,Persuasion,9,3.0,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,4.0,31.77

## Most Profitable Items

In [148]:
#merge again 
profit_merge= pd.merge(total_most_popular_df, most_popular_purchase_count_df, on=["Item ID", "Item Name"], how= "outer")

most_profitable_merge= pd.merge(profit_merge, most_popular_items_df, on= ["Item ID", "Item Name"], how= "outer")
most_profitable_merge

,,Price_x,Purchase ID,Price_y
Item ID,Item Name,,,
92,Final Critic,59.99,13,5.0
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,12,4.0
82,Nirvana,44.10,9,5.0
145,Fiery Glass Crusader,41.22,9,5.0
103,Singed Scalpel,34.80,8,4.0
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2.12,2,1.0
125,Whistling Mithril Warblade,2.00,2,1.0
126,Exiled Mithril Longsword,2.00,1,2.0
104,Gladiator's Glaive,1.93,1,2.0
42,The Decapitator,1.75,1,2.0

In [149]:
#rename
most_profitable_merge_rename =most_profitable_merge.rename(columns={"Price_x": "Total Purcahse Value", "Purchase ID": "Purchase Count", "Price_y":"Item Price" })

most_profitable_merge_rename.head()

,,Total Purcahse Value,Purchase Count,Item Price
Item ID,Item Name,,,
92,Final Critic,59.99,13,5.0
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,12,4.0
82,Nirvana,44.10,9,5.0
145,Fiery Glass Crusader,41.22,9,5.0
103,Singed Scalpel,34.80,8,4.0